@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/base.css">
    <link rel="stylesheet" href="~/Content/home.css">
</head>

<body>
    <div class="banner">
        <h1>Very varied and quality Furniture</h1>
        <h3>
            Lalasia is committed to changing every family, customizing
            a unique home for every family, so that more families can enjoy
            a high quality of life. Each of our products is designed to meet
            the needs of individual life.
        </h3>
        <form action="@Url.Action("Product", "Home")" method="post">
            <div class="search">
                <input type="text" class="input" name="keyword" placeholder="Search property" value="@(Request.QueryString["keyword"] != null ? Request.QueryString["keyword"]:"")" />
                <input type="submit" value="Search" class="button" onclick="search()">
            </div>
        </form>
        <img src="~/Content/images/backgroud.png" alt="">
    </div>

    <div class="benefits">
        <h5>benefits</h5>
        <h2>Benefits when using our services</h2>
        <ul>
            <li>
                <div class="pic">
                    <img src="~/Content/images/t1.png" alt="">
                </div>
                <h3 class="text1">Many Choices</h3>
                <div class="text2">
                    The range of furniture we offer is more extensive,
                    providing you with a greater selection to meet your specific needs.
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="~/Content/images/t2.png" alt="">
                </div>
                <h3 class="text1">Fast and On Time</h3>
                <div class="text2">
                    We have a faster logistics service, you just need to
                    place an order and we can make it immediately.
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="~/Content/images/t3.png" alt="">
                </div>
                <h3 class="text1">Affordable Price</h3>
                <div class="text2">
                    Our products are more reasonable and cost-effective,
                    ensuring that every customer can afford the products they want.
                </div>
            </li>
        </ul>
    </div>
    <div class = "showproduct">
        <h5>Product</h5>
        <h2>Our popular product show</h2>
        <ul>
            <li>
                <div class="pic">
                    <img src="~/Content/images/show1.png" alt="">
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="~/Content/images/show2.png" alt="">
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="~/Content/images/show3.png" alt="">
                </div>

            </li>
        </ul>
    </div>

</body>

</html>      