@model IEnumerable<Lalasia.Models.Furniture>
@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="~/Content/base.css">
    <link rel="stylesheet" href="~/Content/product.css">
</head>

<body>
    <div class="banner">
        <h1>Products</h1>
        <h3>We display products based on the latest products we have, if you wantto see our old products please enter the name of the item</h3>
        <div id="slideshow-container">
            <div class="slideshow">
                <img src="~/Content/images/products.png" alt="Image 1">
                <img src="~/Content/images/pp1.png" alt="Image 2">
                <img src="~/Content/images/pp2.png" alt="Image 3">
                <img src="~/Content/images/pp3.png" alt="Image 4">
                <img src="~/Content/images/pp4.png" alt="Image 5">
            </div>
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>
        </div>
    </div>

    @*搜索*@
    <div class="search">
        <form action="" method="get">
            <input type="text" name="keyword" class="input" placeholder="Search property" value="@(Request.QueryString["keyword"] != null ? Request.QueryString["keyword"]:"")" />
            <input type="submit" value="Find Now" name="submit" class="button" onclick="search()">
        </form>
    </div>

    <div class="selt">

        @*选项框*@
        <div>Type :</div>
        <select id="category" name="category">
            <option value="">All</option>
            <option value="Chair">Chair</option>
            <option value="Cupboard">Cupboard</option>
            <option value="Table">Table</option>
            <option value="Decoration">Decoration</option>
        </select>
        <div>Price :</div>
        <select id="sortOrder" name="sortOrder">
            <option value="asc">Ascending order</option>
            <option value="desc">Descending order</option>
        </select>

    </div>

    <div id="productList">
        @Html.Partial("_ProductList", Model)
    </div>


</body>
</html>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="~/Scripts/lunbo.js"></script>
<script src="~/Scripts/xuanxiangkuang.js"></script>