@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="~/Content/base.css">
    <link rel="stylesheet" href="~/Content/service.css">
</head>
<body>
    
    <div class="banner">
        <h1>Services</h1>
        <h3>The product crafted by talented crafter and using high quality material with love inside</h3>
        <img src="~/Content/images/service.png" alt="">
        <hr>
    </div>

    <div class="benefits">
        <ul>
            <li>
                <h1>01</h1>
                <h3>Furniture</h3>
                <div>At the ultimate smart home, you're met with technology before you even step through the front door. </div>
            </li>
            <li>
                <h1>02</h1>
                <h3>Home Decoration</h3>
                <div>Create A Calming Summer Escape With Our Luxurious Home Accessories For The Balmy Evenings.</div>
            </li>
            <li>
                <h1>03</h1>
                <h3>Kitchen Cabinet</h3>
                <div>Introducing the modular kitchen cabinet system. Start with our huge selection of base and wall cabinets. </div>
            </li>
            <li>
                <h1>04</h1>
                <h3>Interior Design</h3>
                <div>Innovative products often feature innovative designs that play with the patterns we are familiar.</div>
            </li>
            <li>
                <h1>05</h1>
                <h3>Exterior Design</h3>
                <div>These stylish and resilient products provide up-to-date options for roofing, siding, decking, and outdoor spaces.</div>
            </li>
            <li>
                <h1>06</h1>
                <h3>Custom Furniture</h3>
                <div>With Quality Materials and Modern Designs, we have Designs for all Tastes. we bring you World Class Designs.</div>
            </li>
        </ul>
    </div>
</body>
</html>